name: Check for update and release

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 0 * * *'

jobs:
  call-workflow:
    uses: thespad/actions/.github/workflows/check-and-release.yml@v9.0.10
    with:
      repo_owner: "thespad"
      app_name: "dive"
      release_type: "github"
      release_url: "https://api.github.com/repos/wagoodman/dive"
      dockerhub_user: "thespad"
      branch_name: "main"
    secrets:
      repo_scoped_token: ${{ secrets.repo_scoped_token }}
      dockerhub_password: ${{ secrets.DOCKER_PASSWORD }}
